@charset "UTF-8";

#footer {
	height: 90px;
	width: 100%;
	text-align: center;
	border-top: solid 2px #2D2D2D;
}

#footer span {
	margin: 0 auto;
	color: #2D2D2D;
}

#footer span a {
	color: #2D2D2D;
}

